[tool.poetry]
name = "pls-cli"
version = "0.3.1"
description = ""
authors = ["Felipe Guedes <contatofelipeguedes@gmail.com>"]
packages = [{ include = "pls_cli" }]
readme = "README.md"
repository = "https://github.com/guedesfelipe/pls-cli"
homepage = "https://guedesfelipe.github.io/pls-cli/"
documentation = "https://guedesfelipe.github.io/pls-cli/"
keywords = ["pls", "please", "todo", "cli"]

[tool.poetry.dependencies]
python = "^3.7"
rich = "^12.4.4"
typer = { extras = ["all"], version = ">=0.6.1,<0.8.0" }

[tool.poetry.dev-dependencies]
pytest = "^7.2"
blue = "^0.9.1"
isort = "^5.10.1"
prospector = { extras = ["with_mypy"], version = "^1.7.7" }
pytest-cov = "^4.0.0"
safety = "^2.3.5"
freezegun = "^1.2.2"
mkdocs = "^1.3.1"
mkdocs-material = "^9.0.9"
mkdocs-meta-descriptions-plugin = "^2.0.0"
types-setuptools = "^65.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
pls = "pls_cli.please:app"
