[tool.poetry]
name = "pls-cli"
version = "0.1.0"
description = ""
authors = ["Felipe Guedes <contatofelipeguedes@gmail.com>"]
packages = [{ include = "pls_cli" }, { include = "README.md" }]
readme = "README.MD"
repository = "https://github.com/guedesfelipe/pls-cli"
homepage = "https://github.com/guedesfelipe/pls-cli"
documentation = "https://github.com/guedesfelipe/pls-cli"
keywords = ["pls", "please", "todo", "cli"]

[tool.poetry.dependencies]
python = "^3.7"
typer = "^0.4.1"
rich = "^12.4.4"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
blue = "^0.9.0"
isort = "^5.10.1"
prospector = { extras = ["with_mypy"], version = "^1.7.7" }
pytest-cov = "^3.0.0"
safety = "^1.10.3"
types-setuptools = "^57.4.17"
freezegun = "^1.2.1"
mkdocs = "^1.3.0"
mkdocs-material = "^8.3.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
pls = "pls_cli.please:app"
