[tool.poetry]
name = "pls-cli"
version = "0.2.0"
description = ""
authors = ["Felipe Guedes <contatofelipeguedes@gmail.com>"]
packages = [{ include = "pls_cli" }]
readme = "README.md"
repository = "https://github.com/guedesfelipe/pls-cli"
homepage = "https://guedesfelipe.github.io/pls-cli/"
documentation = "https://guedesfelipe.github.io/pls-cli/"
keywords = ["pls", "please", "todo", "cli"]

[tool.poetry.dependencies]
python = "^3.7"
rich = "^12.4.4"
typer = {extras = ["all"], version = "^0.6.1"}

[tool.poetry.dev-dependencies]
pytest = "^7.1"
blue = "^0.9.0"
isort = "^5.10.1"
prospector = { extras = ["with_mypy"], version = "^1.7.7" }
pytest-cov = "^3.0.0"
safety = "^2.0.0"
types-setuptools = "^62.6.0"
freezegun = "^1.2.1"
mkdocs = "^1.3.0"
mkdocs-material = "^8.3.9"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
pls = "pls_cli.please:app"
