name: issues

on:
  issues:
    types: [closed]

permissions:
  issues: write

jobs:
  add-comment:
    runs-on: ubuntu-latest
    steps:
      - name: Did I solve your problem?
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Did I solve your problem?
            Why not buy the devs a [coffee](https://ko-fi.com/guedesfelipe) to say thanks?
